<main>
  <h2>Product details</h2>
  <div *ngIf="product">
    <h4>{{ product.name }}</h4>
    <div *ngIf="product" class="product-image">
      <img [src]="product.images" />
    </div>

    <p>Author: {{ product.author }}</p>
    <p>Year: {{ product.year }}</p>
    <p>Price: {{ product!.price | currency }}</p>
    <p>Description: {{ product!.description }}</p>
  </div>

  <button type="button" (click)="addToCart(product!)" routerLink="/cart">
    Add to cart
  </button>
</main>

<!-- <button type="button" (click)="addToCart(product!)" [routerLink]="['/Product']">Add to cart</button> -->
