$bg-color: #fff;

:host {
  .mat-drawer-container {
    background-color: $bg-color;
    display: inherit;
    position: relative;
    z-index: 9998 !important;
    height: 100%;
    overflow: hidden;
  }

  .mat-drawer-content {
    position: relative;
    overflow: auto;
    display: inherit;
    // display: block;
  }

  .mat-drawer-transition {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-property: transition-duration, transition-timing-function;
  }

  .mat-sidenav-container {
    width: 80%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 9999 !important;
  }

  .mat-drawer-inner-container {
    width: 100%;
    background-color: red;
  }
}
