<h2>Products</h2>
<section class="main-list">
  <div class="product-dynamic-list">
    <div class="listing">
      <div class="card-layout">
        <div class="products" *ngFor="let product of products">
          <div class="product-content">
            <div class="product-image">
              <img [src]="product.images" />
            </div>

            <div class="category-card-wraeper">
              <h3>
                <a
                  [title]="product.name + ' details'"
                  [routerLink]="['/products', product.id]"
                >
                  {{ product.name }}
                </a>
              </h3>

              <div class="category-card-content">
                <p>Author: {{ product.author }}</p>
              </div>

              <div class="category-card-price">
                <p>Price: {{ product.price }}</p>
              </div>
              <button type="button" [routerLink]="['/products', product.id]">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-product-alerts [product]="Product" (notify)="onNotify()">
  </app-product-alerts> -->
</section>
