$full-size: 100%;

:host {
  box-sizing: border-box;
  display: block;
  margin: 20px;
  height: $full-size;

  .listign {
    display: grid;
    grid-gap: 5px;
  }
  .card-layout {
    height: 400px;
    position: relative;
    display: grid;
    grid-gap: 5px;
    margin: 10px;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
  }
  .category-card-wraeper {
    margin: 100px 0;
  }
}
