<!-- <h2 routerLink="product-list"> Products</h2> -->
<h2>Products</h2>
<section class="main-list">
  <div class="product-dynamic-list">
    <div class="listign">
      <div class="card-layout" style="height: 322px">
        <div class="products" *ngFor="let product of products">
          <div class="product-image">
            <img [src]="product.images" />
          </div>

          <div class="category-card-wraeper">
            <h3>
              <a
                [title]="product.name + ' details'"
                [routerLink]="['/products', product.id]"
              >
                {{ product.name }}
              </a>
            </h3>

            <div class="category-card-content">
              <p>Author: {{ product.author }}</p>
            </div>

            <div class="category-card-price">
              <p>Price: {{ product.price }}</p>
            </div>
            <button type="button" (click)="share()" [routerLink]="['/Product']">
              Buy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-product-alerts
  [product]="product"
  (notify) = "onNotify()">
</app-product-alerts>
  -->
</section>

<!-- <div fxLayout>
  <div class = "sub-section-1">
    <h3>
      <a
        [title]="product.name + ' details'"
        [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
    <p *ngIf="product.description">
      Description: {{ product.description }}
    </p>

    <p *ngIf="product.year">
      Year: {{ product.year }}
    </p>
    <p>Price: {{product.price}}</p>
  
    <p *ngIf="product.format">
      Format: {{ product.format }}
    </p>
  
  </div >

<div class = "sub-section-2">
  <img src="./assets/img/1.jpg" alt="image">
</div >

<button type="button" (click)="share()" [routerLink]="['/Product']">
  Buy
</button>

<app-product-alerts
  [product]="product"
  (notify) = "onNotify()">
</app-product-alerts>
</div> -->

<!--attempts to create accordion-->

<!--<div class="accordion">-->
<!--  <div class="accordion-item" *ngFor="let item of item">-->
<!--    <div class="accordion-item-header" (click)="toggleItem(item)">-->
<!--      {{ item.header }}-->
<!--    </div>-->
<!--    <div class="accordion-item-body" [hidden]="!item.expanded">-->
<!--      {{ item.content }}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<c-accordion *ngFor = "let products of products">-->
<!--  <c-accordion-item #item0 ="cAccordionItem" [visible]="false">-->
<!--    <ng-template cTemplateId="accordionHeaderTemplate">-->
<!--      <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>-->
<!--        <h3> {{products.name}}</h3>-->
<!--      </button>-->
<!--    </ng-template>-->
