@mixin blockBorder() {
  @include prefix(border-radius, 3px);
}

main {
  padding: 0;
  margin: 0;
  width: 100%;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  justify-content: center;
  color: black;
}

.title-shipping {
  height: 50px;
  margin: 0;
  padding: 0 5px;
  background-color: #e6cce2;
  border: 0.1rem solid;
  border-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;

  h3 {
    margin: 10px 0;
    text-align: center;
  }
}

img {
  height: 100px;
  width: 80px;
  display: flex;
}

.shipping-item {
  margin: 5px;
  height: 100%;
}

.shipping-form-content {
  display: flex;
  flex-direction: row;
  grid-template-rows: 1fr 1fr;
  padding: 3px;
  background-color: white;
  box-shadow: #cb65bb 1px 1px 2px 1px;
}

#aside {
  padding: 5px;
  height: 100%;

  .product-image {
    float: left;
    flex-direction: column;
    justify-content: center;
  }
}

#section {
  .product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-details {
    display: block;
    margin-left: 10px;
    justify-content: center;
    font-weight: 500;
  }

  .product-actions {
    mat-form-field {
      padding: 10px;
    }
    .product-remove {
      margin: 5px;
    }
  }
}

.cart-summary {
  padding: 20px;
  justify-content: space-between;
  background-color: #eddeea;
  display: flex;
  flex-direction: column;
  align-items: center;

  .summary-group {
    font-size: larger;
    font-weight: 500;

    .summary-title {
      word-spacing: 10em;
    }

    .summary-count {
      word-spacing: 13em;
    }
  }
  .summary-count {
    display: block;
    text-align: end;
  }

  .button-purches {
    font-size: larger;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
}
