<main>
  <div class="title-shipping">
    <h3>Your purchases</h3>
  </div>
  <app-shipping></app-shipping>

  <div class="shipping-item" *ngFor="let item of items |async ">
    <div class="shipping-form-content">
      <aside id="aside">
        <div class="product-image">
          <img [src]="item.images" alt="Product image" />
        </div>
      </aside>

      <section id="section">
        <div class="product-wrapper">
          <div class="product-container">
            <div class="product-details">
              <h4 class="book-name">{{ item.name }}</h4>
              <div class="book-price">Price: {{item.price | currency}}</div>
            </div>
            <div class="product-actions">
              <mat-form-field>
                <mat-label>Choose quantity</mat-label>
                <mat-select
                  (selectionChange)="numOfItems($event.value, item)"
                  [value]="item.amount"
                >
                  <mat-option
                    *ngFor="let number of numbersOfItems"
                    [value]="number"
                    >{{ number }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
              <button class="product-remove" (click)="removeItems(item)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="cart-summary">
    <span class="summary-group">
      <span class="summary-title"
        >Subtotal: {{totalAmount | async | currency}}</span
      >
      <span class="summary-count">Items: {{totalCartItems | async}}</span>
    </span>
    <button
      class="button-purches"
      mat-raised-button
      type="submit"
      routerLink="/orders"
    >
      Order
    </button>
  </div>
</main>
