<main>
  <h2>Your purchases</h2>
  <!-- <div class="content" *ngIf="product">
    <div class="product-image">
      <img [src]="product.images" />
    </div>
  </div> -->
  <div class="cart-item" *ngFor="let item of items">
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
    <!-- <span>{{item.images}}</span> -->
    <!-- <a routerLink="/shipping" class="shipping-link">Shipping Prices</a> -->
    <button
      class="button-purches"
      mat-raised-button
      type="submit"
      routerLink="/shipping"
    >
      Order
    </button>
  </div>
</main>
