

/* Top Bar */

:host {
  padding: 30px;
  width: 100%;
  height: 68px;
  background-color: #cb65bb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p {
  letter-spacing: 10px;
  color: white;
}

