<a [routerLink]="['/']">
  <h1>OKAY</h1>
</a>

<!-- <button mat-button (click)="(sidenav)" #sidenav>
  
</button> -->

<!-- <button
  data-drawer-target="#sidenav"
  data-drawer-toggle="sidebar"
  mode="over"
  aria-controls="sidebar"
  type="button"
  class="fancy-button"
>
  <span class="sr-only" routerLink="/cart">
    <i class="material-icons">shopping_cart</i>Cart</span
  >
</button> -->

<!-- <div *ngFor="let button of button">
  <button
    mat-button
    (click)="toggleButton(button)"
    data-drawer-target="#sidenav"
    data-drawer-toggle="sidebar"
  >
    <span class="sr-only" routerLink="/cart">
      <i class="material-icons">shopping_cart</i>{{ button.cartButton }}</span
    >
  </button>
  <mat-button-toggle @expandCollapse *ngIf="button.isOpen"> </mat-button-toggle>
</div> -->
<section>
  <button
    mat-raised-button
    #sidenav
    routerLink="/cart"
    class="button fancy-button"
    (click)="toggleSidenav()"
  >
    <i class="material-icons">shopping_cart</i> Cart
  </button>
</section>
